SITE_NAME="Foobar"
SITE_URL="https://site.localhost"

DATABASE_URL="postgresql://dbowner:pword@domain/db"

SENDGRID_API_KEY="SG.foobar" # used for passwordless auth
SENDGRID_FROM="user@foobar.com" # send emails from

AUTH_SECRET="" # for auth.js

UPLOADTHING_TOKEN="" # for asset uploading